In [1]:
import sklearn

In [2]:
import pandas as pd
df = pd.read_csv('NHLSchedule.csv')
df.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal
0,10/10/2023,Chicago Blackhawks,4,Pittsburgh Penguins,2,NaN,NaN,-2,6
1,10/10/2023,Nashville Predators,3,Tampa Bay Lightning,5,NaN,NaN,2,8
2,10/10/2023,Seattle Kraken,1,Vegas Golden Knights,4,NaN,NaN,3,5
3,10/11/2023,Chicago Blackhawks,1,Boston Bruins,3,NaN,NaN,2,4
4,10/11/2023,Ottawa Senators,3,Carolina Hurricanes,5,NaN,NaN,2,8

In [3]:
df1 = pd.read_csv('HomeTeamStats.csv')
df1.head()

,HTm,HRk,HAvAge,HGF/G,HGA/G,HPP,HPPO,HPP%,HPPA,HPPOA,HPK%,HSH,HSHA,HPIM/G,HoPIM/G,HS,HS%,HSA,HSV%,HSO
0,Vegas Golden Knights,1,28.5,3.57,2.29,11,49,22.45,7,43,83.72,2,1,9.9,9.9,418,12.0,426,0.925,1
1,Boston Bruins,2,28.3,3.17,1.92,7,40,17.50,3,50,94.00,0,0,12.4,10.2,379,10.0,377,0.939,1
2,New York Rangers,3,28.7,3.25,2.17,14,41,34.15,6,43,86.05,1,1,10.4,11.8,330,11.8,331,0.921,1
3,Vancouver Canucks,4,28.3,4.50,2.00,15,46,32.61,10,44,77.27,2,0,10.8,12.0,350,15.4,375,0.936,2
4,Los Angeles Kings,5,29.2,4.25,2.67,11,53,20.75,6,41,85.37,1,2,9.3,13.8,392,13.0,339,0.906,1

In [4]:
df2 = pd.merge(df, df1, left_on=['Home'], right_on=['HTm'], how="left")
df2.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,HPK%,HSH,HSHA,HPIM/G,HoPIM/G,HS,HS%,HSA,HSV%,HSO
0,10/10/2023,Chicago Blackhawks,4,Pittsburgh Penguins,2,NaN,NaN,-2,6,Pittsburgh Penguins,...,81.08,0,1,8.4,7.5,395,9.6,317,0.902,3
1,10/10/2023,Nashville Predators,3,Tampa Bay Lightning,5,NaN,NaN,2,8,Tampa Bay Lightning,...,87.18,0,0,9.3,11.5,396,12.6,437,0.897,2
2,10/10/2023,Seattle Kraken,1,Vegas Golden Knights,4,NaN,NaN,3,5,Vegas Golden Knights,...,83.72,2,1,9.9,9.9,418,12.0,426,0.925,1
3,10/11/2023,Chicago Blackhawks,1,Boston Bruins,3,NaN,NaN,2,4,Boston Bruins,...,94.00,0,0,12.4,10.2,379,10.0,377,0.939,1
4,10/11/2023,Ottawa Senators,3,Carolina Hurricanes,5,NaN,NaN,2,8,Carolina Hurricanes,...,76.00,4,4,12.9,10.5,451,9.8,334,0.868,1

In [5]:
df3 = pd.read_csv('VisitorTeamStats.csv')
df3.head()

,VTm,VRk,VAvAge,VGF/G,VGA/G,VPP,VPPO,VPP%,VPPA,VPPOA,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,Vegas Golden Knights,1,28.5,3.57,2.29,11,49,22.45,7,43,83.72,2,1,9.9,9.9,418,12.0,426,0.925,1
1,Boston Bruins,2,28.3,3.17,1.92,7,40,17.50,3,50,94.00,0,0,12.4,10.2,379,10.0,377,0.939,1
2,New York Rangers,3,28.7,3.25,2.17,14,41,34.15,6,43,86.05,1,1,10.4,11.8,330,11.8,331,0.921,1
3,Vancouver Canucks,4,28.3,4.50,2.00,15,46,32.61,10,44,77.27,2,0,10.8,12.0,350,15.4,375,0.936,2
4,Los Angeles Kings,5,29.2,4.25,2.67,11,53,20.75,6,41,85.37,1,2,9.3,13.8,392,13.0,339,0.906,1

In [6]:
df4 =  pd.merge(df2, df3, left_on=['Visitor'], right_on=['VTm'], how="left")
df4.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,10/10/2023,Chicago Blackhawks,4,Pittsburgh Penguins,2,NaN,NaN,-2,6,Pittsburgh Penguins,...,83.33,1,2,10.4,10.0,295,8.8,389,0.902,0
1,10/10/2023,Nashville Predators,3,Tampa Bay Lightning,5,NaN,NaN,2,8,Tampa Bay Lightning,...,69.23,1,0,7.8,9.3,364,9.3,364,0.901,1
2,10/10/2023,Seattle Kraken,1,Vegas Golden Knights,4,NaN,NaN,3,5,Vegas Golden Knights,...,70.27,1,2,8.8,10.2,409,8.3,417,0.894,0
3,10/11/2023,Chicago Blackhawks,1,Boston Bruins,3,NaN,NaN,2,4,Boston Bruins,...,83.33,1,2,10.4,10.0,295,8.8,389,0.902,0
4,10/11/2023,Ottawa Senators,3,Carolina Hurricanes,5,NaN,NaN,2,8,Carolina Hurricanes,...,73.68,1,2,13.1,14.7,357,12.3,345,0.890,0

In [7]:
df4.to_csv('TrainData.csv')

In [8]:
df5 = pd.read_csv('TrainData.csv')

In [9]:
df_output = df5[['Result','Gtotal']]
df_output.head()

   Result  Gtotal
0      -2       6
1       2       8
2       3       5
3       2       4
4       2       8

In [10]:
df_stats =  df5[['HRk','HAvAge','HGF/G','HGA/G','HPP','HPPO','HPP%','HPPA','HPPOA','HPK%','HSH','HSHA',
             'HPIM/G','HoPIM/G','HS','HS%','HSA','HSV%','HSO',
             'VRk','VAvAge','VGF/G','VGA/G','VPP','VPPO','VPP%','VPPA','VPPOA','VPK%','VSH','VSHA',
             'VPIM/G','VoPIM/G','VS','VS%','VSA','VSV%','VSO']]
df_stats.head()

,HRk,HAvAge,HGF/G,HGA/G,HPP,HPPO,HPP%,HPPA,HPPOA,HPK%,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,28,31.3,3.45,2.82,6,33,18.18,7,37,81.08,...,83.33,1,2,10.4,10.0,295,8.8,389,0.902,0
1,8,28.6,3.85,3.46,15,44,34.09,5,39,87.18,...,69.23,1,0,7.8,9.3,364,9.3,364,0.901,1
2,1,28.5,3.57,2.29,11,49,22.45,7,43,83.72,...,70.27,1,2,8.8,10.2,409,8.3,417,0.894,0
3,2,28.3,3.17,1.92,7,40,17.50,3,50,94.00,...,83.33,1,2,10.4,10.0,295,8.8,389,0.902,0
4,6,29.6,3.38,3.38,13,49,26.53,12,50,76.00,...,73.68,1,2,13.1,14.7,357,12.3,345,0.890,0

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
predictor = LinearRegression(n_jobs=-1)

predictor.fit(X=df_stats, y=df_output)

LinearRegression(n_jobs=-1)

In [13]:
df6 = pd.read_csv('TestData.csv')
df6.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal
0,11/9/2023,New York Islanders,NaN,Boston Bruins,NaN,NaN,NaN,NaN,NaN
1,11/9/2023,Dallas Stars,NaN,Columbus Blue Jackets,NaN,NaN,NaN,NaN,NaN
2,11/9/2023,Seattle Kraken,NaN,Colorado Avalanche,NaN,NaN,NaN,NaN,NaN
3,11/9/2023,Montreal Canadiens,NaN,Detroit Red Wings,NaN,NaN,NaN,NaN,NaN
4,11/9/2023,Pittsburgh Penguins,NaN,Los Angeles Kings,NaN,NaN,NaN,NaN,NaN

In [14]:
df7 = pd.merge(df6, df1, left_on=['Home'], right_on=['HTm'], how="left")
df7.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,HPK%,HSH,HSHA,HPIM/G,HoPIM/G,HS,HS%,HSA,HSV%,HSO
0,11/9/2023,New York Islanders,NaN,Boston Bruins,NaN,NaN,NaN,NaN,NaN,Boston Bruins,...,94.00,0,0,12.4,10.2,379,10.0,377,0.939,1
1,11/9/2023,Dallas Stars,NaN,Columbus Blue Jackets,NaN,NaN,NaN,NaN,NaN,Columbus Blue Jackets,...,86.84,0,1,8.8,10.3,378,8.5,397,0.902,0
2,11/9/2023,Seattle Kraken,NaN,Colorado Avalanche,NaN,NaN,NaN,NaN,NaN,Colorado Avalanche,...,89.13,4,2,12.3,10.4,378,9.8,315,0.902,1
3,11/9/2023,Montreal Canadiens,NaN,Detroit Red Wings,NaN,NaN,NaN,NaN,NaN,Detroit Red Wings,...,79.59,0,1,10.7,12.8,400,12.0,403,0.896,1
4,11/9/2023,Pittsburgh Penguins,NaN,Los Angeles Kings,NaN,NaN,NaN,NaN,NaN,Los Angeles Kings,...,85.37,1,2,9.3,13.8,392,13.0,339,0.906,1

In [15]:
df8 = pd.merge(df7, df3, left_on=['Visitor'], right_on=['VTm'], how="left")
df8.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,11/9/2023,New York Islanders,NaN,Boston Bruins,NaN,NaN,NaN,NaN,NaN,Boston Bruins,...,79.49,2,0,10.2,8.2,339,8.6,387,0.920,3
1,11/9/2023,Dallas Stars,NaN,Columbus Blue Jackets,NaN,NaN,NaN,NaN,NaN,Columbus Blue Jackets,...,92.50,1,3,9.5,8.7,329,9.4,368,0.924,0
2,11/9/2023,Seattle Kraken,NaN,Colorado Avalanche,NaN,NaN,NaN,NaN,NaN,Colorado Avalanche,...,70.27,1,2,8.8,10.2,409,8.3,417,0.894,0
3,11/9/2023,Montreal Canadiens,NaN,Detroit Red Wings,NaN,NaN,NaN,NaN,NaN,Detroit Red Wings,...,73.58,2,3,14.8,14.0,358,9.8,419,0.900,0
4,11/9/2023,Pittsburgh Penguins,NaN,Los Angeles Kings,NaN,NaN,NaN,NaN,NaN,Los Angeles Kings,...,81.08,0,1,8.4,7.5,395,9.6,317,0.902,3

In [16]:
df8.to_csv('TestDataFull.csv')

In [17]:
df_test = df8[['HRk','HAvAge','HGF/G','HGA/G','HPP','HPPO','HPP%','HPPA','HPPOA','HPK%','HSH','HSHA',
             'HPIM/G','HoPIM/G','HS','HS%','HSA','HSV%','HSO',
             'VRk','VAvAge','VGF/G','VGA/G','VPP','VPPO','VPP%','VPPA','VPPOA','VPK%','VSH','VSHA',
             'VPIM/G','VoPIM/G','VS','VS%','VSA','VSV%','VSO']]
df_test.head()

,HRk,HAvAge,HGF/G,HGA/G,HPP,HPPO,HPP%,HPPA,HPPOA,HPK%,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,2,28.3,3.17,1.92,7,40,17.50,3,50,94.00,...,79.49,2,0,10.2,8.2,339,8.6,387,0.920,3
1,25,26.8,2.67,3.25,6,41,14.63,5,38,86.84,...,92.50,1,3,9.5,8.7,329,9.4,368,0.924,0
2,7,28.4,3.36,2.82,8,43,18.60,5,46,89.13,...,70.27,1,2,8.8,10.2,409,8.3,417,0.894,0
3,11,28.5,3.69,3.23,14,56,25.00,10,49,79.59,...,73.58,2,3,14.8,14.0,358,9.8,419,0.900,0
4,5,29.2,4.25,2.67,11,53,20.75,6,41,85.37,...,81.08,0,1,8.4,7.5,395,9.6,317,0.902,3

In [18]:
outcome = predictor.predict(X=df_test)


print(outcome)

[[ 2.85340668  4.37677068]
 [-2.03283041  4.05886511]
 [ 1.98903291  5.30906576]
 [ 0.89021729  7.05222581]
 [-0.59746345  8.0584267 ]
 [ 1.10916364  5.00251068]
 [-1.84261823  8.592441  ]
 [-2.22966409  7.96429786]
 [-0.24781124  5.90760077]
 [ 1.24553416  6.46189141]
 [ 0.49958946  7.5291931 ]
 [ 1.0538783   5.60364239]
 [ 0.2942192   5.80765238]
 [ 0.20838724  7.1928438 ]
 [ 2.11338776  6.8357615 ]
 [ 1.11382117  9.37167443]
 [ 4.4822311   4.70439505]
 [ 1.75467071  4.47958034]
 [ 0.85947823  6.66619739]
 [ 0.75208914  7.73890117]
 [-1.47224134  5.07943263]
 [-0.25981818  5.66361016]
 [ 1.75989655  4.73256276]
 [ 1.49643925  9.39105348]
 [-0.460392    6.3661903 ]
 [ 0.80289899  7.72096053]
 [ 1.24126365  7.93760967]
 [-2.22523632  8.57306195]
 [-0.79288022  6.45503919]]