In [1]:
import sklearn

In [3]:
import pandas as pd
df = pd.read_csv('NHLSchedule.csv')
df.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal
0,10/10/2023,Chicago Blackhawks,4,Pittsburgh Penguins,2,NaN,NaN,-2,6
1,10/10/2023,Nashville Predators,3,Tampa Bay Lightning,5,NaN,NaN,2,8
2,10/10/2023,Seattle Kraken,1,Vegas Golden Knights,4,NaN,NaN,3,5
3,10/11/2023,Chicago Blackhawks,1,Boston Bruins,3,NaN,NaN,2,4
4,10/11/2023,Ottawa Senators,3,Carolina Hurricanes,5,NaN,NaN,2,8

In [4]:
df1 = pd.read_csv('HomeTeamStats.csv')
df1.head()

,HTm,HRk,HAvAge,HGF/G,HGA/G,HPP,HPPO,HPP%,HPPA,HPPOA,HPK%,HSH,HSHA,HPIM/G,HoPIM/G,HS,HS%,HSA,HSV%,HSO
0,Vegas Golden Knights,1,28.2,3.86,1.86,6,25,24.00,2,20,90.00,0,0,11.3,10.7,212,12.7,196,0.934,0
1,Boston Bruins,2,28.4,3.17,1.17,3,22,13.64,1,25,96.00,0,0,11.0,11.7,193,9.8,172,0.959,1
2,Colorado Avalanche,3,28.4,4.50,2.00,6,21,28.57,2,27,92.59,3,0,12.0,10.3,227,11.9,172,0.930,1
3,Detroit Red Wings,4,28.4,4.86,2.86,12,29,41.38,5,28,82.14,0,0,11.9,12.1,214,15.9,214,0.907,1
4,Dallas Stars,5,28.7,3.00,2.00,2,16,12.50,0,15,100.00,0,3,9.8,12.2,143,10.5,166,0.940,0

In [5]:
df2 = pd.merge(df, df1, left_on=['Home'], right_on=['HTm'], how="left")
df2.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,HPK%,HSH,HSHA,HPIM/G,HoPIM/G,HS,HS%,HSA,HSV%,HSO
0,10/10/2023,Chicago Blackhawks,4,Pittsburgh Penguins,2,NaN,NaN,-2,6,Pittsburgh Penguins,...,82.35,0,0,8.7,8.0,210,8.1,175,0.886,1
1,10/10/2023,Nashville Predators,3,Tampa Bay Lightning,5,NaN,NaN,2,8,Tampa Bay Lightning,...,94.12,0,0,8.4,13.0,198,11.6,255,0.906,1
2,10/10/2023,Seattle Kraken,1,Vegas Golden Knights,4,NaN,NaN,3,5,Vegas Golden Knights,...,90.00,0,0,11.3,10.7,212,12.7,196,0.934,0
3,10/11/2023,Chicago Blackhawks,1,Boston Bruins,3,NaN,NaN,2,4,Boston Bruins,...,96.00,0,0,11.0,11.7,193,9.8,172,0.959,1
4,10/11/2023,Ottawa Senators,3,Carolina Hurricanes,5,NaN,NaN,2,8,Carolina Hurricanes,...,68.75,4,3,18.3,14.6,233,11.6,188,0.824,0

In [6]:
df3 = pd.read_csv('VisitorTeamStats.csv')
df3.head()

,VTm,VRk,VAvAge,VGF/G,VGA/G,VPP,VPPO,VPP%,VPPA,VPPOA,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,Vegas Golden Knights,1,28.2,3.86,1.86,6,25,24.00,2,20,90.00,0,0,11.3,10.7,212,12.7,196,0.934,0
1,Boston Bruins,2,28.4,3.17,1.17,3,22,13.64,1,25,96.00,0,0,11.0,11.7,193,9.8,172,0.959,1
2,Colorado Avalanche,3,28.4,4.50,2.00,6,21,28.57,2,27,92.59,3,0,12.0,10.3,227,11.9,172,0.930,1
3,Detroit Red Wings,4,28.4,4.86,2.86,12,29,41.38,5,28,82.14,0,0,11.9,12.1,214,15.9,214,0.907,1
4,Dallas Stars,5,28.7,3.00,2.00,2,16,12.50,0,15,100.00,0,3,9.8,12.2,143,10.5,166,0.940,0

In [7]:
df4 =  pd.merge(df2, df3, left_on=['Visitor'], right_on=['VTm'], how="left")
df4.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,10/10/2023,Chicago Blackhawks,4,Pittsburgh Penguins,2,NaN,NaN,-2,6,Pittsburgh Penguins,...,86.36,1,2,10.3,11.4,183,7.7,254,0.917,0
1,10/10/2023,Nashville Predators,3,Tampa Bay Lightning,5,NaN,NaN,2,8,Tampa Bay Lightning,...,68.18,1,0,8.0,10.0,224,8.9,197,0.904,1
2,10/10/2023,Seattle Kraken,1,Vegas Golden Knights,4,NaN,NaN,3,5,Vegas Golden Knights,...,81.82,1,2,11.3,12.0,218,7.3,206,0.883,0
3,10/11/2023,Chicago Blackhawks,1,Boston Bruins,3,NaN,NaN,2,4,Boston Bruins,...,86.36,1,2,10.3,11.4,183,7.7,254,0.917,0
4,10/11/2023,Ottawa Senators,3,Carolina Hurricanes,5,NaN,NaN,2,8,Carolina Hurricanes,...,73.91,1,2,17.0,18.3,203,12.3,158,0.867,0

In [8]:
df4.to_csv('TrainData.csv')

In [9]:
df5 = pd.read_csv('TrainData.csv')

In [27]:
df_output = df5[['Result','Gtotal']]
df_output.head()

   Result  Gtotal
0      -2       6
1       2       8
2       3       5
3       2       4
4       2       8

In [28]:
df_stats =  df5[['HRk','HAvAge','HGF/G','HGA/G','HPP','HPPO','HPP%','HPPA','HPPOA','HPK%','HSH','HSHA',
             'HPIM/G','HoPIM/G','HS','HS%','HSA','HSV%','HSO',
             'VRk','VAvAge','VGF/G','VGA/G','VPP','VPPO','VPP%','VPPA','VPPOA','VPK%','VSH','VSHA',
             'VPIM/G','VoPIM/G','VS','VS%','VSA','VSV%','VSO']]
df_stats.head()

,HRk,HAvAge,HGF/G,HGA/G,HPP,HPPO,HPP%,HPPA,HPPOA,HPK%,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,27,31.3,2.83,3.33,2,16,12.50,3,17,82.35,...,86.36,1,2,10.3,11.4,183,7.7,254,0.917,0
1,7,28.4,3.29,3.43,8,24,33.33,1,17,94.12,...,68.18,1,0,8.0,10.0,224,8.9,197,0.904,1
2,1,28.2,3.86,1.86,6,25,24.00,2,20,90.00,...,81.82,1,2,11.3,12.0,218,7.3,206,0.883,0
3,2,28.4,3.17,1.17,3,22,13.64,1,25,96.00,...,86.36,1,2,10.3,11.4,183,7.7,254,0.917,0
4,21,29.4,3.86,4.71,8,34,23.53,10,32,68.75,...,73.91,1,2,17.0,18.3,203,12.3,158,0.867,0

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
predictor = LinearRegression(n_jobs=-1)

predictor.fit(X=df_stats, y=df_output)

LinearRegression(n_jobs=-1)

In [31]:
df6 = pd.read_csv('TestData.csv')
df6.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal
0,10/25/2023,Washington Capitals,NaN,New Jersey Devils,NaN,NaN,NaN,NaN,NaN
1,10/26/2023,Anaheim Ducks,NaN,Boston Bruins,NaN,NaN,NaN,NaN,NaN
2,10/26/2023,Seattle Kraken,NaN,Carolina Hurricanes,NaN,NaN,NaN,NaN,NaN
3,10/26/2023,St. Louis Blues,NaN,Calgary Flames,NaN,NaN,NaN,NaN,NaN
4,10/26/2023,Toronto Maple Leafs,NaN,Dallas Stars,NaN,NaN,NaN,NaN,NaN

In [32]:
df7 = pd.merge(df6, df1, left_on=['Home'], right_on=['HTm'], how="left")
df7.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,HPK%,HSH,HSHA,HPIM/G,HoPIM/G,HS,HS%,HSA,HSV%,HSO
0,10/25/2023,Washington Capitals,NaN,New Jersey Devils,NaN,NaN,NaN,NaN,NaN,New Jersey Devils,...,71.43,0,0,9.6,11.2,170,11.8,159,0.899,0
1,10/26/2023,Anaheim Ducks,NaN,Boston Bruins,NaN,NaN,NaN,NaN,NaN,Boston Bruins,...,96.00,0,0,11.0,11.7,193,9.8,172,0.959,1
2,10/26/2023,Seattle Kraken,NaN,Carolina Hurricanes,NaN,NaN,NaN,NaN,NaN,Carolina Hurricanes,...,68.75,4,3,18.3,14.6,233,11.6,188,0.824,0
3,10/26/2023,St. Louis Blues,NaN,Calgary Flames,NaN,NaN,NaN,NaN,NaN,Calgary Flames,...,88.89,2,0,10.9,8.4,227,7.5,195,0.872,0
4,10/26/2023,Toronto Maple Leafs,NaN,Dallas Stars,NaN,NaN,NaN,NaN,NaN,Dallas Stars,...,100.00,0,3,9.8,12.2,143,10.5,166,0.940,0

In [33]:
df8 = pd.merge(df7, df3, left_on=['Visitor'], right_on=['VTm'], how="left")
df8.head()

,Date,Visitor,VG,Home,HG,OT/SO,Notes,Result,Gtotal,HTm,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,10/25/2023,Washington Capitals,NaN,New Jersey Devils,NaN,NaN,NaN,NaN,NaN,New Jersey Devils,...,68.18,0,0,12.0,9.6,136,4.4,149,0.872,0
1,10/26/2023,Anaheim Ducks,NaN,Boston Bruins,NaN,NaN,NaN,NaN,NaN,Boston Bruins,...,76.47,0,0,17.5,12.7,168,8.3,187,0.909,0
2,10/26/2023,Seattle Kraken,NaN,Carolina Hurricanes,NaN,NaN,NaN,NaN,NaN,Carolina Hurricanes,...,81.82,1,2,11.3,12.0,218,7.3,206,0.883,0
3,10/26/2023,St. Louis Blues,NaN,Calgary Flames,NaN,NaN,NaN,NaN,NaN,Calgary Flames,...,71.43,0,0,5.6,8.0,116,8.6,170,0.918,0
4,10/26/2023,Toronto Maple Leafs,NaN,Dallas Stars,NaN,NaN,NaN,NaN,NaN,Dallas Stars,...,75.00,0,2,9.8,11.5,210,10.5,181,0.890,0

In [34]:
df_test = df8[['HRk','HAvAge','HGF/G','HGA/G','HPP','HPPO','HPP%','HPPA','HPPOA','HPK%','HSH','HSHA',
             'HPIM/G','HoPIM/G','HS','HS%','HSA','HSV%','HSO',
             'VRk','VAvAge','VGF/G','VGA/G','VPP','VPPO','VPP%','VPPA','VPPOA','VPK%','VSH','VSHA',
             'VPIM/G','VoPIM/G','VS','VS%','VSA','VSV%','VSO']]
df_test.head()

,HRk,HAvAge,HGF/G,HGA/G,HPP,HPPO,HPP%,HPPA,HPPOA,HPK%,...,VPK%,VSH,VSHA,VPIM/G,VoPIM/G,VS,VS%,VSA,VSV%,VSO
0,15,26.5,4.00,3.20,11,25,44.00,6,21,71.43,...,68.18,0,0,12.0,9.6,136,4.4,149,0.872,0
1,2,28.4,3.17,1.17,3,22,13.64,1,25,96.00,...,76.47,0,0,17.5,12.7,168,8.3,187,0.909,0
2,21,29.4,3.86,4.71,8,34,23.53,10,32,68.75,...,81.82,1,2,11.3,12.0,218,7.3,206,0.883,0
3,26,29.2,2.43,3.57,3,24,12.50,3,27,88.89,...,71.43,0,0,5.6,8.0,116,8.6,170,0.918,0
4,5,28.7,3.00,2.00,2,16,12.50,0,15,100.00,...,75.00,0,2,9.8,11.5,210,10.5,181,0.890,0

In [35]:
outcome = predictor.predict(X=df_test)


print(outcome)

[[ 4.56165267  5.21410636]
 [ 0.67360898  4.46879468]
 [ 2.88190837  6.6611398 ]
 [-0.42547546  2.87545294]
 [ 0.87938153  5.90110091]
 [ 1.50256901 10.45858958]
 [-2.56196767  6.61813841]
 [-0.78206491  6.83917288]
 [-2.29146562  7.01803527]
 [ 1.32039405  4.84146572]
 [-0.88010495  5.92832456]
 [ 3.81798443  4.23330078]
 [-5.14854559  4.56222052]
 [ 4.36974969  6.41428312]
 [ 0.25927944  6.61032387]
 [ 4.79081422  5.64953101]
 [ 2.03381748  4.22024458]
 [-2.4931431   6.88900368]]